@font-face {
    font-family: 'Circe';
    src: url(../fonts/Circe-Light/Circe-Light.eot);
    src: local('Circe Light'), local('Circe-Light'),
    url(../fonts/Circe-Light/Circe-Light.eot) format('embedded-opentype'),
    url(../fonts/Circe-Light/Circe-Light.woff2) format('woff2'),
    url(../fonts/Circe-Light/Circe-Light.woff) format('woff'),
    url(../fonts/Circe-Light/Circe-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(../fonts/Circe-Regular/Circe-Regular.eot);
    src: local('Circe Regular'), local('Circe-Regular'),
    url(../fonts/Circe-Regular/Circe-Regular.eot) format('embedded-opentype'),
    url(../fonts/Circe-Regular/Circe-Regular.woff2) format('woff2'),
    url(../fonts/Circe-Regular/Circe-Regular.woff) format('woff'),
    url(../fonts/Circe-Regular/Circe-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(../fonts/Circe-Bold/Circe-Bold.eot);
    src: local('Circe Bold'), local('Circe-Bold'),
    url(../fonts/Circe-Bold/Circe-Bold.eot) format('embedded-opentype'),
    url(../fonts/Circe-Bold/Circe-Bold.woff2) format('woff2'),
    url(../fonts/Circe-Bold/Circe-Bold.woff) format('woff'),
    url(../fonts/Circe-Bold/Circe-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(../fonts/Circe-ExtraBold/Circe-ExtraBold.eot);
    src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
    url(../fonts/Circe-ExtraBold/Circe-ExtraBold.eot) format('embedded-opentype'),
    url(../fonts/Circe-ExtraBold/Circe-ExtraBold.woff2) format('woff2'),
    url(../fonts/Circe-ExtraBold/Circe-ExtraBold.woff) format('woff'),
    url(../fonts/Circe-ExtraBold/Circe-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* ---------------- Common styles start ---------------- */

body {
    font-family: 'Circe', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 30px;
}

/* ---------------- Common styles end ---------------- */

/* ---------------- Header start ---------------- */

.header__hero {
    background-image: url("../img/header/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__hero-block {
    max-width: 50%;
    padding: 70px 0 34px;
}

.logo {
    display: flex;
    gap: 70px;
    padding-bottom: 40px;
}

.header__hero-text {
    padding: 20px 0 6px;
    font-size: 32px;
}

.header__hero-title {
    font-size: 74px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 74px;
    letter-spacing: -2px;
}

.header__discount {
    position: relative;
    font-weight: 700;
}

.header__discount-before {
    position: absolute;
    top: 70px;
    left: 12px;
    font-size: 55px;
}

.header__discount-number {
    font-size: 200px;
}

.header__discount-percent {
    font-size: 118px;
}

.header__description {
    display: flex;
    gap: 24px;
    font-size: 18px;
    margin-top: -50px;
    align-items: center;
}

.header__line {
    background-color: #383838;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.header__line-content {
    position: relative;
    display: flex;
    align-content: center;
    height: 100%;
    padding: 50px 0 40px;
    gap: 40px;
}

.header__line-block {
    position: relative;
    display: flex;
    gap: 18px;
    width: 50%;
}

.header__line-text span {
    text-transform: none;
    font-size: 32px;
}

.header__line-img {
    position: absolute;
    top: -6px;
    right: -20px;
}

.header__line-arrow {
    margin-top: -10px;
    width: 36px;
}

.header__line-percent {
    font-size: 90px;
    margin-top: 20px;
    margin-left: 15px;
}

/* ---------------- Header end ---------------- */
